{
  "env": {
    "node": true
  },
  "rules": {
    "semi": [1, "never"],
    "quotes": [1, "single"],
    "no-path-concat": 0,
    "new-cap": 0,
    "curly": 0,
    "strict": 0,
    "space-infix-ops": 0,
    "no-proto": 0,
    "no-unused-vars": 1,
    "no-underscore-dangle": 0,
    "no-use-before-define": 0,
    "complexity": [1, 5],
    "camelcase": 0,
    "eol-last": 0
  }
}